header{background-color: orange;border-radius: 15px 15px;padding: 10px 275px}
section{background-color: orange;border-radius: 15px 15px;padding: 75px 25px; position: absolute;top: 125px;left: 560px}
aside{background-color: orange;border-radius: 15px 15px;padding: 100px 200px; position: absolute;top: 125px;}
footer{background-color: orange;border-radius: 15px 15px;padding: 10px 300px;position: absolute;top: 450px}

